/*///////  Tag colors  //////*/
.kotlin{background: #f18f33;}
.javascript{background: #f1df5a;}
.html{background: #e34c26;}
.css{background: #563d7c}
.json{background: #000000}
.java{background: #b07219}
/*///////  Tag colors  //////*/