@import url('utils.css');

:root {
    --header-height: 60px;
    --header-itens-margin: 0 5%;
    --loading-bg: #04080e;
}

/* general */
* {
    font-family: sans-serif;
}
a:link{
    color: var(--a-link);
    text-decoration: none;
}
a:visited{
    color: var(--a-link);
}
a:hover {
    color: var(--a-hover);
}
body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: var(--body-bg);
    color: var(--body-color);
}
body::-webkit-scrollbar {
    width: 6px;
    background: var(--options-bar-bg);
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--options-bar-color), transparent);
    
}
header.flex {
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background: var(--header-bg);
}
/* general */



/* loading transition */
#loading-screen {
    color: #0d9c0021;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--loading-bg);
}
#load-block{
    position: fixed;
    z-index: 2;
    background: var(--loading-bg);
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
#load-lil-circle {
    margin-left: 44px;
    background: var(--star-btn-stroke);
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
#load{
    background: conic-gradient(transparent 100deg , var(--star-btn-stroke));
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: loading 700ms ease-in-out 0s infinite normal;
}
@keyframes loading {
   100% { transform: rotate(360deg);}
}
/* loading transition */



/* header bars */
#logo-wrapper {
    background: var(--options-bar-bg);
    padding: 10px 50px 10px 10px;
    border-radius: 0 20px 100px 0;
}
#logo{
    height: 50%;
}
#star-theme-btn-wrapper {
    background: var(--options-bar-bg);
    padding: 10px 10px 10px 20px;
    border-radius: 100px 0 0 20px;
}
#star-theme-btn {
    height: 50%;
    stroke: var(--star-btn-stroke);
}
#options-bar{
    border-radius: 0 0 100% 100%;
    color: var(--options-bar-color);
    background: var(--options-bar-bg);
    width: 100%;
}
#options-bar a {
    margin-left: 10%;
    font-family: monospace;
    font-size: 120%;
}
/* header bars */



/* main content */
main {
    width: 100%;
}
section[name="post-orientation"] {
    margin: 0 2%;
}
article {
    width: 90%;
    margin: 10px;
    border: solid 3px var(--header-bg);
    border-radius: 10px; 
}
/* main content */



/* page navigation buttons */
#page-buttons {
    margin: -15px 0 5px 10px;
}
#page-buttons button {
    width: 100px;
    height: 100%;
    margin: 0 1px;
    color: #ffffff;
    background: var(--header-bg);
    border: none;
    font-size: 2em;
    font-weight: 700;
}
#page-buttons button:active {
    background: var(--a-link);
}
#page-buttons button#arrow-back {
    margin-left: 50px;
    padding-left: 20px;
    border-radius: 20px 10px 10px 200%;
}
#page-buttons button#arrow-go {
    padding-right: 20px;
    border-radius: 10px 20px 200% 10px;
}
#page-buttons button svg {
    margin: 2px;
    height: 15px;
    fill: var(--arrows-btn);
}
/* page navigation buttons */



/* footer */
footer {
    width: 100%;
    padding: 5px 0;
    border-radius: 100% 20% 0 0;
    text-align: right;
    color: var(--options-bar-color);
    background: var(--options-bar-bg);
}
footer span {
    font-size: 120%;
    margin-right: 10px;
    font-family: monospace;
}
/* footer */



/* wrappers */
#h-wrapper {
    width: 100%;
    min-height: fit-content;
}
#m-wrapper {
    flex: 1;
    width: 100%;
    min-height: max-content;
}
#f-wrapper {
    width: 100%;
    min-height: fit-content;
}
/* wrappers */
