.info{
    height: 0%;
    width: 100%;
    background: #5a1296;
}
    .info-icons{
        height: 100%;
        width: 90%;
        max-width: 600px;
    }

    .info.fx a{margin: 0 5%;}
        .info-img{height: 80%;}

    .i-on{
        animation: info-tab 500ms ease-in-out 0s 1 normal forwards;
    }
    @keyframes info-tab{
        0%{height: 0%;}
        100%{height: 12%;}
    }

    .i-off{
        animation: info-tab-off 500ms ease-in-out 0s 1 reverse forwards;
    }
    @keyframes info-tab-off{
        0%{height: 0%;}
        100%{height: 12%;}
    }

