/*///////  General  //////*/
body{
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    background: #06090f;
    color: #ffffff;
}
p{
    margin: 8px 5px;
    text-indent: 10px;
}
a:link{
    color: #19b6ff;
    text-decoration: none;
}
a:visited{color: #19b6ff;}
.fx{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blk{flex-direction: column;}
/*///////  General  //////*/


/*///////  Header  //////*/
header{
    height: 12%;
    width: 100%;
    background: #2a0747;
}
    .logo{
        max-height: 60%;
        height: 60%;
    }
    .gap{
        width: 100%;
    }
    .options{
        max-height: 50%;
        margin-right: 3%;
    }
/*///////  Header  //////*/


/*///////  Main //////*/
main{
    width: 100%;
    margin: 2% 0 10px 0;
}
    .title-box{
            width: 90%;
            max-width: 600px;
        }
        .mod{
            width: 100%;
            margin-bottom: 2%;
            padding-right: 5%;
            text-align: right;
            font-family: monospace;
            color: #1a477e;
        }
        .project-title{
            margin: 0 5% 0 0;
            text-align: center;
            font-size: larger;
            font-weight: 700;
        }


    article{
        margin: 20px 0;
        padding: 1% 0;
        width: 90%;
        max-width: 600px;
        border-radius: 5px;
        border: solid 1px #30363d;
    }
        .project-subtitle{
            font-size: 17px;
            font-weight: 700;
            color: #66FFCC;
            width: 100%;
        }
        .project-text{
            margin: 10px 0;
            width: 95%;
            height: 100%;
            font-size: 15px;
            color: #c4c7c9;
        }

article img{
    max-width: 100%;
    border-radius: 5px;
    margin: 2px;
}
.f-text{
    padding: 5px;
    font-weight: bold;
    text-align: center;
    background: rgb(46, 46, 46);
    border-radius: 5px;
}
/*///////  Main //////*/


