<head>
    <link rel="stylesheet" href="fragments/p0002/switcherStyle.css">
</head>

<div class="fx blk project-text">
    <div class="project-subtitle">
        >> O que vamos fazer? 
   </div>
   <span class="text-area">
       Nesse pequeno projeto vamos estar criando um
   botão para página web que funciona como uma espécie de interruptor.
   
       Em outras palavras quando apertarmos esse botão ele
   fará uma primeira ação e se apertarmos novamente ele irá fazer outra ação que desfaz a primeira.
   
       Logo, podemos fazer a comparação a um interruptor.
   
   <div 
       class="f-text" 
       style="text-align:start; padding-left: 20px;">
           <span class="f-item">1.</span> Apertamos a 1ª vez : A luz acende!
           <span class="f-item">2.</span> Apertamos a 2ª vez : A luz apaga!
           <span class="f-item">3.</span> Apertamos a 3ª vez : A luz acende!
           <i>...E assim sucessivamente!</i>
           
   </div>
       Na prática faremos esse botão aqui para acender e apagar essa lâmpada.
   
       Basta clicar no botão de play para testar.
   
       <div class="fx switcher-box"><div class="fx light"><img id="light-off" class="on" src="fragments/p0002/img/x000.png"><img id="light-on" class="off" src="fragments/p0002/img/x001.png"></div><div id="s-on" class="on button"><img src="fragments/p0002/img/play.png"></div><div id="s-off" class="off"><img src="fragments/p0002/img/play.png"></div></div>
   
       Legal né? Vamos continuar!



   </span>


<div class="project-subtitle"> 
    >> Quais linguagens e ferramentas serão usadas?
</div>
<span class="text-area">
    Aqui usaremos a famosa trindade para <i>front-end</i> que é HTML, CSS e JavaScript.
    Também farei este projeto usando o Visual Studio Code e o Google Chrome.


 
 </span>



<div class="project-subtitle">
    >> Requisitos!
</div>
<span class="text-area">
    É super interessante que você tenha conhecimento em:
    <div class="f-text">
<span style="color: #E34C26; font-size: 18px; font-weight: 700;">HTML</span>
<span style="color: #DDDDDD; font-size: 14px; font-style: italic;">Como vincular CSS e JavaScript, como usar classes CSS e ids para JavaScript.</span>

<span style="color: #498BA7; font-size: 18px; font-weight: 700;">CSS</span>
<span style="color: #DDDDDD; font-size: 14px; font-style: italic;">Como utilizar display e flexbox.</span>

<span style="color: #B7B73B; font-size: 18px; font-weight: 700;">JavaScript</span>
<span style="color: #DDDDDD; font-size: 14px; font-style: italic;">Como adicionar eventos.</span>

<span style="color: #22A7F2; font-size: 18px; font-weight: 700;">Visual Studio Code</span>
<span style="color: #DDDDDD; font-size: 14px; font-style: italic;">Utilização geral.</span>

</div>

    Caso você não tenha certeza se tem esses conhecimentos, não se preocupe, vou te guiar explicando o máximo que conseguir. Vamos tentar juntos ok?



</span>



<div class="project-subtitle">
     >> Etapa 1 - Ambientando o projeto
</div>
<span class="text-area">
    Vamos criar nossa pasta do projeto!

</span>
<img src="fragments/p0002/img/000.png">
<span class="text-area">

    Com a pasta criada vamos clicar com o botão direito do mouse nela e selecionar <i>Abrir com o Code</i>, dessa maneira já estaremos criando o ambiente para o nosso projeto.

</span>
<img src="fragments/p0002/img/001.png">
<span class="text-area">

    Quando o Visual Studio Code abrir será mais ou menos dessa maneira que ele estará.

</span>
<img src="fragments/p0002/img/002.png" >
<span class="text-area">

    Agora clicando do pequeno ícone da folha de papel vamos criar um novo arquivo.

</span>
<img src="fragments/p0002/img/003.png" >
<span class="text-area">

    Esse será o nosso arquivo chamado index.html. Você provavelmente já deve ter visto esse nome tanto como index.html quanto como home.html. Será ele que irá abrigar todo o nosso projeto e quando chegarmos na parte do JavaScript ele passa a ser reconhecido como <i>document</i>, guarde essa informação.

</span>
<img src="fragments/p0002/img/004.png">
<span class="text-area">

    O arquivo será aberto assim que você acaba de criá-lo pressionando enter.
    Com isso basta digitar <i>doc</i> e apertar enter que o Visual Studio Code irá entender essa abreviação e criar uma base de página html automaticamente o que ajuda e muito.

</span>
<img src="fragments/p0002/img/005.png">
<img src="fragments/p0002/img/006.png">
<span class="text-area">

    O <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&lt!DOCTYPE html&gt</span> informa ao navegador que o arquivo será um documento do tipo html, mas sua citação atualmente é opcional como podemos notar na ausência dessa declaração no código.

    Lembra do que falei que o JavaScript reconhece o html como <i>document</i>? Então, esse é motivo básico.


    Agora preciso que crie mais dois arquivos, um <span style="color: #498BA7; font-style: italic; font-weight: 700;">style.css</span> e um <span style="color: #B7B73B; font-style: italic; font-weight: 700;">script.js</span>. Depois disso você precisará vincular eles ao documento da seguinte forma.

    Nesse caso a ordem importa, então você deve colocar o vínculo CSS no <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&ltlink&gt</span>dentro da <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&lthead&gt&lt/head&gt</span> e o <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&ltscript&gt&lt/script&gt</span> com o vínculo ao arquivo JavaScript após o <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&lt/body&gt</span>.

</span>
<img src="fragments/p0002/img/007.png">
<span class="text-area">
    Terminando essa parte onde criamos nosso ambiente de projeto, nossos arquivos HTML, CSS e JavaScript, estamos prontos para prosseguir para a segunda etapa!



</span>



<div class="project-subtitle">
     >> Etapa 2 - Dando cara ao projeto
</div>
<span class="text-area">
    Entre as tags <i style="color: #3A73AB;"><b>&ltbody&gt&lt/body&gt</b></i>, vamos estar criando nossos elementos no documento html.
    
        1. Crie uma <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i>.
        2. Dentro desta primeira <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i>, crie mais duas outras.

</span>
<img src="fragments/p0002/img/008.png">
<span class="text-area">

        3. No <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&lt/body&gt</span> usaremos a classe <span style="color: #B06849; font-style: italic; font-weight: 700;">flex</span> e na primeira <span style="color: #3A73AB; font-style: italic; font-weight: 700;">&lt/div&gt</span> usaremos as classes <i style="color:#B06849"><b>flex</b></i>, <i style="color:#B06849"><b>marker</b></i> e <i style="color:#B06849"><b>caixa-interruptor</b></i>, que iremos criar agora dentro do arquivo CSS.

    

    No arquivo <span style="color: #498BA7; font-style: italic; font-weight: 700;">style.css</span> estaremos configurando a tag <i style="color:#B59655"><b>body</b></i> e criando as classes <i style="color:#B59655"><b>.flex</b></i>, <i style="color:#B59655"><b>.marker</b></i>, <i style="color:#B59655"><b>.caixa-interruptor</b></i> e <i style="color:#B59655"><b>.lampada</b></i> da seguinte forma.

</span>
<img src="fragments/p0002/img/009.png">
<span class="text-area">

    Abrindo o arquivo html no navegador (Google Chrome) ele estará desse jeito.

</span>
<img src="fragments/p0002/img/010.png">
<span class="text-area">
    
    Estaremos usando agora essas cores mais chamativas para termos uma noção de onde está cada elemento dentro da página e após tudo estar no seu devido lugar iremos retirar essas cores.



    Voltando ao documento html, dentro da <i style="color: #3A73AB;"><b>&ltdiv class="flex marker caixa-interruptor"&gt</b></i>, na primeira <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i> estaremos chamando a classe <i style="color:#B06849"><b>lampada</b></i> e na segunda <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i>  chamaremos a classe <i style="color:#B06849"><b>botao</b></i>.

</span>
<img src="fragments/p0002/img/011.png">
<span class="text-area">
    
    E de volta ao arquivo CSS estaremos configurando a classe <i style="color:#B59655"><b>.botao</b></i> e <i style="color:#B59655"><b>.lampada</b></i>  desse jeito.

</span>
<img src="fragments/p0002/img/012.png">
<span class="text-area">
    
    Deixando o nosso documento com essa carinha.

</span>
<img src="fragments/p0002/img/013.png">
<span class="text-area">
    
    Lá no arquivo html estaremos chamando a classe <i style="color:#B06849"><b>flex</b></i> junto com a classe <i style="color:#B06849"><b>lampada</b></i> naquela primeira <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i> e dentro dela usaremos duas imagens, uma de uma lâmpada apagada e outra de uma lâmpada acesa.

</span>
<img src="fragments/p0002/img/014.png">
<span class="text-area">
    
    Resultando em:
</span>
<img src="fragments/p0002/img/015.png">
<span class="text-area">
    
    Para que não apareça as duas lâmpadas ao mesmo tempo, estaremos criando duas classes a <i style="color:#B06849"><b>aparecer</b></i> e a <i style="color:#B06849"><b>desaparecer</b></i> e vinculando a cada uma das lâmpadas da seguinte maneira.
</span>
<span class="text-area">

    No HTML:
</span>
<img src="fragments/p0002/img/016.png">
<span class="text-area">

    No CSS:
</span>
<img src="fragments/p0002/img/017.png">
<span class="text-area">

    Resultando em:
</span>
<img src="fragments/p0002/img/018.png">
<span class="text-area">

    Iremos copiar a <i style="color: #3A73AB;"><b>&ltdiv&gt</b></i> do botão e isso fará com que aconteça algo semelhante às lâmpadas, pois estarão vinculados a mesma classe <i style="color:#B06849"><b>aparecer</b></i>. Daí basta vincular o segundo botão a classe <i style="color:#B06849"><b>desaparecer</b></i> e ficaremos com um único botão visível.

</span>
<img src="fragments/p0002/img/019.png">
<img src="fragments/p0002/img/020.png">
<span class="text-area">

    No entanto, logo após vincularmos o segundo botão a classe <i style="color:#B06849"><b>desaparecer</b></i>, iremos identificar cada um dos elementos com uma id diferente. Então vamos nos atentar ao código.

</span>
<img src="fragments/p0002/img/021.png">
<span class="text-area">

    As ids são as seguintes:
    <div class="f-text" style="text-align:start; padding-left: 20px;">
<span style="color:#3A73AB; font-style: italic;">id="lampada-apagada"</span> : Imagem da lâmpada apagada
<span style="color:#3A73AB; font-style: italic;">id="lampada-acesa"</span> : Imagem da lâmpada acesa
<span style="color:#3A73AB; font-style: italic;">id="ligar"</span> : Botão de ligar
<span style="color:#3A73AB; font-style: italic;">id="desligar"</span> : Botão de desligar
    </div>
    É importante lembrar das ids para você ter noção do que estaremos chamando ou colocando eventos quando partirmos logo, logo para a etapa em que usaremos o JavaScript.

    Com tudo no devido lugar já podemos modificar nosso arquivo CSS e tirar as cores chamativas.

</span>
<img src="fragments/p0002/img/022.png">
<span class="text-area">

    Resultando em:
</span>
<img src="fragments/p0002/img/023.png">
<span class="text-area">

    Chegamos na reta final, agora basta colocarmos os eventos em JavaScript e terminamos!



</span>




<div class="project-subtitle">
     >> Etapa 3 - Colocando ações no projeto
</div>
<span class="text-area">
    Chegamos na tão aguardada hora de fazer esse projeto funcionar!
    Essa é uma etapa menor, porém não menos importante. Então vamos lá!

    A primeira coisa a fazer é criar quatro constantes no nosso arquivo JavaScript <i style="color:#B7B73B;"><b>script.js</b></i>, elas serão responsáveis por apontar os elementos html dentro do nosso código em JavaScript.

</span>
<img src="fragments/p0002/img/024.png">
<span class="text-area">

    Coloquei o nome das constantes bem sugestivo para que a gente não perca de vista a qual elementos estamos nos referindo.

    Aqui utilizei o método <i style="color:#8E8863;"><b>getElementById( )</b></i>, que nada mais é do que "pegar o elemento pela id". Com isso, dentro dos parênteses escrevemos o nome da id assim como está escrito no arquivo html. Dessa forma, toda vez que citarmos as contantes estaremos nos referindo a id do elemento html que elas pegaram.

    Outra maneira de fazer essa captura de elemento html pelo JavaScript é através do método <i style="color:#8E8863;"><b>querySelector( )</b></i>, onde a única diferença é que você terá que escrever o nome da id desse jeito <i style="color:#B06849"><b>' #ligar '</b></i>, pois como o querySelector é inespecífico para id, já que ele pode fazer referência a várias coisas como, por exemplo, classes CSS e elementos HTML, sendo assim necessário o uso de <i style="color:#B06849"><b>#</b></i> para falar para o método que estamos nos referindo a uma id. Sendo igual ao jeito que chamamos id em CSS.

    Logo após as constantes, pule uma linha para criarmos esse evento.

</span>
<img src="fragments/p0002/img/025.png">
<span class="text-area">

    Traduzindo a lógica do código é basicamente assim:
<div 
    class="f-text" 
    style="text-align:start; padding-left: 20px;">
        <span class="f-item">1.</span> Capturar elemento HTML com a id 'ligar'!
        <span class="f-item">2.</span> Colocar um método para ouvir um evento!
        <span class="f-item">3.</span> Tipo de evento: clique!
        
</div>
    
    Assim sendo após o 'click', adicionamos o que chamamos de função anônima que tem a seguinte sintaxe: 

<div class="f-text" style="font-family: monospace;">
<span style="font-size: 30px; font-weight: 700; font-style: italic;">(  )<span style="color:#2E79B2">=></span>{ }</span>

</div>
    O motivo de parecer uma setinha nas imagens do código é porque a fonte que estou usando aqui aceita ligadura daí ela fica desse jeitinho, mas caso a fonte que esteja utilizando não aceite ligadura é um sinal de igual e um sinal de maior que que é utilizado.

    Dentro das chaves colocaremos o algoritmo do que ocorrerá quando o evento for chamado através do clique. Então, se liga no código.
    
</span>
<img src="fragments/p0002/img/026.png">
<span class="text-area">

    A novidade aqui é o <span style="color: #2E79B2; font-weight: 700; font-style: italic;">classList</span> que é um método onde podemos chamar e modificar classes de um elemento. Sendo assim, lembra que os elementos que estamos chamando pelas ids tinham classes onde aparecia ou desaparecia algo? Aqui vamos alterar as classes de cada um deles para criar o nosso efeito de interruptor. 

    Agora traduzindo esse pequeno algoritmo temos o seguinte:
    
<div 
    class="f-text" 
    style="text-align:start; padding-left: 20px;">
        <span class="f-item">1.</span> A classe de lampada-apagada passa a ser desaparecer!
        <span class="f-item">2.</span> A classe de lampada-acesa passa a ser aparecer!
        <span class="f-item">3.</span> A classe de ligar passa a ser desaparecer!
        <span class="f-item">4.</span> A classe de desligar passa a ser aparecer botão!
        
</div>
    Em outras palavras:

<div 
    class="f-text" 
    style="text-align:start; padding-left: 20px;">
        <span class="f-item">1.</span> Não exiba a imagem da lâmpada apagada!
        <span class="f-item">2.</span> Exiba a imagem da lâmpada acesa!
        <span class="f-item">3.</span> Não exiba o botão de ligar!
        <span class="f-item">4.</span> Exiba o botão de desligar!
        
</div>
    Você já pode testar no navegador seu projeto, mas ainda não está pronto, pois o botão de desligar está sem ação nenhuma.

    Para isso basta copiar o método de ouvir eventos do botão de ligar, mudar para o botão de desligar e alternar o algoritmo. Vamos ver na prática:

</span>
<img src="fragments/p0002/img/027.png">
<span class="text-area">

    Agora criamos um algoritmo que faz a função inversa do botão de ligar criando um efeito de laço sem usar um laço de programação real.

    Traduzindo o algoritmo do botão desligar teremos:

<div 
    class="f-text" 
    style="text-align:start; padding-left: 20px;">
        <span class="f-item">1.</span> Exiba a imagem da lâmpada apagada!
        <span class="f-item">2.</span> Não exiba a imagem da lâmpada acesa!
        <span class="f-item">3.</span> Exiba o botão de ligar!
        <span class="f-item">4.</span> Não exiba o botão de desligar!
        
</div>
    Acredite ou não acabamos o projeto!!!
    <span style="font-size: 20px; font-weight: 700;">Parabéns!!!</span>

    Espero muito que tenha conseguido realizá-lo!!!

    Ele é bem versátil e pode ser utilizado em diferentes contextos numa página web, então use toda sua criatividade para implementar esse conhecimento em outras coisas que gostar.
    
</span>

</div>