#go-back-title-screen,
#about-title-text {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

#go-back-title-screen {
    width: fit-content;
    padding: 5px 5%;
    border-radius: 5px;
    box-shadow: inset 0 0 15px rgb(0, 0, 0);
    background: rgb(34, 34, 34);
    
    font-size: 0.9rem;
    color: var(--light-text);
    cursor: pointer;
}
#go-back-title-screen:hover {
    box-shadow: inset 0 0 10px var(--glow);
}

#about-title-box {
    width: 90%;
}

#about-text {
    width: 90%;
    height: 70%;
    margin: 2%;
    overflow: auto;
}
#about-text::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
#about-text::-webkit-scrollbar-thumb {
    background-color: var(--glow);
    border-radius: 5px;
}