input {
    border: none;
    border-radius: 4px;
    margin: 3px;
    font-family: monospace;
    font-size: large;
    background: #19b6ff65;
    color: #ffffff;
}
input:hover {
    background: #a7ff198e;
}
input:active {
    background: #19b6ffe8;
}
input[type=text] {
    outline: none;
    background: #929292;
    color: #1a1a1a;
    font-size: larger;
    text-align: center;
    width: 40px;
}
#ok {
    background: #a7ff198e;
    font-size: xx-large;
    width: 50%;
}
#result {
    width: 100%;
    font-size: 2rem;
}