/**
 * @author Josélio de S. C. Júnior <joseliojrx25@gmail.com>
 * @copyright Josélio de S. C. Júnior 2021
 */
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #111;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 10vh;
}
.flex, .flexblock {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexblock {
    flex-direction: column;
}
#title {
    display: flex;
    justify-content: center;
    font-style: oblique;
    margin-bottom: 5%;
}
#root {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}
#root input {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: rgb(31, 31, 31);
    box-shadow: rgb(70, 70, 70) 0 0 10px;
}
footer {
    justify-content: space-around !important;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 60%;
    height: 10%;
    font-size: 0.3em;
}
footer img {
    height: 40%;
    margin: 5px;
}
a:link {
    color: #2389ff;
    text-decoration: none;
}
a:visited {
    color: #2389ff;
}
a:hover {
    color: #44f3ff;
}