.project-text{
    width: 95%;
    height: 100%;
    font-size: 15px;
    color: #c4c7c9;
}
.project-text img {
    max-width: 100%;
    margin: 2.5px;
    border-radius: 5px;
}
.project-subtitle {
    font-size: 17px;
    font-weight: 700;
    color: #66FFCC;
    width: 100%;
}
.f-text{
    padding: 5px;
    font-weight: bold;
    text-align: center;
    background: rgb(46, 46, 46);
    border-radius: 5px;
}
.f-item{ color:#ffff00; }